/* div{
    background-color: hotpink;
}
p{
    background-color: yellow;
} */


div{
    background-color: yellow;
}
form{
    background-color: red;
}
/* input{
    background-color: inherit;
} */
button:hover{
    background-color: blue;
}
