  /* universal selector */
  *{
    font-family: 'Courier New', Courier, monospace;

}
/* element selector */
h1{
    color: #1b74e4;
}
/* id selector */
#searchbtn{
    background-color: black;
    color: white;
}

/* clas selector */
.userbtn{
background-color: aqua;
color: black;
}
